@import "./waveform-playlist.scss";

/* COLORS */
:root {
  --grey-color: #939393;
  --grey-2-color: #f3f3f3;
  --grey-3-color: #F8F8F8;
  --violet-1-color: #6A74AD;
  --violet-2-color: #73758C;
  --violet-3-color: #4D5280;
  --yellow-1-color: #F5B349;  
}

.display-flex-row-between {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}

.no-margin {
  margin: 0;
}

#hide-password-button {
  --pf-c-button--after--BorderColor: #f0f0f0;
  --pf-c-button--m-control--hover--after--BorderBottomWidth: 1px;
  --pf-c-button--m-control--focus--after--BorderBottomWidth: 1px;
  --pf-c-button--m-control--active--after--BorderBottomWidth: 1px;
  --pf-c-button--m-control--m-expanded--after--BorderBottomWidth: 1px;
}

.pf-c-page__main-section.message-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  position: relative;

  .message-structure {
      background-color: transparent;
      display: flex;
      justify-content: center;
      padding: .5rem 1rem;

    .message-header {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      #message-username {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 80%;
      }

      #message-hour {
        text-align: right;
        width: 20%;
      }
    }

    .avatar-icon {
      width: 24px;
      height: 24px;
      margin-right: 20px;
    }
  }

  .system-message {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0.5rem 1rem;
    align-items: flex-end;

    .system-message-structure {
      margin: auto;
      width: 65%;

      .system-message-content {
        white-space: pre-wrap;
        overflow-wrap: break-word;
        color: var(--violet-1-color);
        width: 90%;
      }
      .system-message-structure-container {
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      #message-hour {
        text-align: right;
        width: 100%;
      }
    }
  }

  .text-input-chat {
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 10px;
    border: 0 solid white;
    border-top-width: 10px;
    box-shadow: 0 -8px 5px #0000004C;
    z-index: 1;

    .pf-c-form-control {
      border: 0;
      margin-left: 5px;
    }

    .pf-c-form-control:hover {
      --pf-c-form-control--BorderBottomColor: transparent;
    }

    .button-panel {
      display: inline-flex;
      justify-content: flex-end;
      align-items: flex-end;

      .pf-c-button.pf-m-plain {
        --pf-c-button--m-plain--Color: black;
      }
    }
  }
}

.pf-c-page__main-section.studio-section {
  padding: 0;
}

.pf-l-bullseye {
  .file-action-modal {
    .pf-c-modal-box__body {
      padding-bottom: 0;
      margin: auto;
      flex: none;
    }

    .pf-c-modal-box__header {
      .pf-c-modal-box__title {
        .pf-c-modal-box__title-text {
          white-space: normal !important;
        }
      }
    }
  }
}

#logout_button {
  color: var(--grey-color);
}

.preview {
  height: 100% !important;

  .pf-c-button.pf-m-plain {
    color: white;
  }

  box-shadow: 0 0 0 0 transparent !important;
  background-color: transparent !important;
}

.remove {
  width: fit-content !important;
  box-shadow: 0 0 0 0 transparent !important;
  background-color: white !important;
}

.pf-c-page__main-section {
  background-color: transparent !important;

  .list {
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .list-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border-radius: 5px;

    .tool-item {
      box-shadow: 0 6px 15px -7px gray;
    }

    .pf-c-card.pf-m-flat.card-items {
      --pf-c-card--m-flat--BorderColor: #d0d0d0;
      --pf-c-card--BoxShadow: 0px 0px 5px 0px lightgrey !important;
    }
  }

  .list-item.with-separation {
    .pf-c-card.pf-m-flat.card-items {
      margin-bottom: 10px;
      border-radius: 0.3rem;
    }
  }

  .list-item.files {
    .pf-c-card.pf-m-flat.card-items {
      --pf-c-card--m-flat--BorderColor: transparent !important;
      --pf-c-card--BoxShadow: transparent !important;
    }
  }

  .team-list-title {
    color: var(--violet-1-color);
    padding-left: 15px;
  }

  .structure-menu {
    height: 100%;
    background-color: transparent;
    --pf-c-menu__content--MaxHeight: 100%;

    .team-preview {
      width: 100%;
      margin-right: 5px;
      height: 64px;

      .body {
        display: flex;
        flex-wrap: nowrap;
        align-items: start;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px 20px;

        .pf-c-icon {
          color: #939393;
        }
      }
    }

    .files-preview {
        height: 64px;
        width: 64px;
        overflow: hidden;

        .body {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          flex-direction: column;
          justify-content: space-around;
          padding: 12px 14px;

          .pf-c-badge {
            --pf-c-badge--m-unread--BackgroundColor: var(--violet-1-color);
          }
        }
    }

    .file {
      width: 100%;
      height: 64px;
      overflow: hidden;

      .body {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 12px 0;

        .file-size {
          overflow: hidden;
          white-space: nowrap;
          padding-right: 10px;
          padding-left: 10px;
          min-width: 20%;
        }

        .file-description {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-right: 10px;
          padding-left: 10px;
        }
      }
    }

    .filter-container {
      position: relative;
      height: 90%;
      z-index: 1;

      .filter-buttons {
        display: flex;
        justify-content: space-between;
      }

      .filter-section {
        position: relative;
        z-index: 2;
        height: auto;
        width: 100%;
        border-bottom-width: 10px;
        box-shadow: 0 9px 9px -5px #0000004C;
      }

      .filter-results {
        position: relative;
        z-index: 1;
        height: 100%;
        overflow-y: scroll;
      }

      .pf-m-hidden.pf-c-toolbar__group {
        --pf-hidden-visible--Display: flex;
        --pf-hidden-visible--Visibility: flex;
      }
    }


    .pf-c-menu__content {
      padding: 15px;
      .filter-selector {
        --pf-c-select__toggle--focus--before--BorderBottomColor: var(--violet-1-color);
        --pf-c-select__toggle--hover--before--BorderBottomColor: var(--violet-1-color);
        --pf-c-select__toggle--active--before--BorderBottomColor: var(--violet-1-color);
        --pf-c-select__toggle--m-expanded--before--BorderBottomColor: var(--violet-1-color);
      }
      .pf-m-hidden.pf-c-toolbar__group {
        --pf-hidden-visible--Display: flex;
        --pf-hidden-visible--Visibility: visible;
      }

      .pf-c-toolbar__group {
        margin: 0;
        width: 100%;
        .pf-c-toolbar__item.pf-m-chip-group {
          width: 100%;
        }
        .pf-c-chip-group.pf-m-category {
          width: 100%;
        }
      }
    }
  }
}

html, body, #root {
  height: 100%;
}

.bold-text {
  font-weight: bold;
}

.align-center-text {
  text-align: center;
}

.align-text-left {
  text-align: left;
}

.pf-c-content {
  --pf-c-content--small--Color: red; /* changes all <small> color to red */
  --pf-c-content--blockquote--BorderLeftColor: purple; /* changes all <blockquote> left border color to purple */
  --pf-c-content--hr--BackgroundColor: lemonchiffon; /* changes a <hr> color to lemonchiffon */
}

.pf-c-submit-button {
  display: inline-flex;
  padding: 6px 16px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 3px;
  background: #6A74AD;
}

/* Auth Style Init */

.top-section {
  display: flex;
  flex-direction: column;

  .language-selector {
    width: 150px;
    margin-left: auto;
  }
}

.auth-page-footer {
  background-color: #4d5381;
  height: 60px;
  display: inline-flex;
  align-items: center;

  .pf-c-title.pf-m-md {
    color: white;
    font-weight: bold;
    margin-left: 10px;
  }

  #colmena-logo {
    margin-left: 10px;
  }
}

.pf-c-nav__subnav {
  --pf-c-nav__link--PaddingTop: 1rem;
}

.pf-c-card.auth-page-card {
  max-height: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  .pf-c-card__title.auth-page-title {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.auth-page-body-card-successful {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

#titleSession {
  font-size: x-large;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#utilitiesSection {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.pf-c-page__main-section.welcome-bottom-section {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.bottomSection {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content !important;
  padding-top: 10px !important;
}

.bottomSectionElement {
  margin-top: 20px;
}

.pf-c-modal-box__footer.tac-modal-footer {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

.pf-c-button.authButton {
  --pf-c-button--m-primary--Color: black !important;
  --pf-c-button--m-primary--BackgroundColor: goldenrod !important;
  --pf-c-button--disabled--Color: #6a6e73;
  width: 180px;
  height: 60px;
}

.pf-c-button.cancelButton {
  --pf-c-button--m-plain--Color: var(--violet-1-color);
  padding: 0;
}

.pf-c-button.message_actions_button {
  --pf-c-button--m-primary--Color: black !important;
  --pf-c-button--m-primary--BackgroundColor: transparent !important;
  --pf-c-button--disabled--BackgroundColor: white !important;
}

.pf-c-button.submitButton {
  --pf-c-button--m-primary--BackgroundColor: #6A74AD !important;
  display: flex;
  padding: 6px 16px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 3px;
}

.pf-c-page__main-section {
  height: 100%;
  flex-grow: 1;
}

.auto-width {
  width: auto !important;
}

/* Auth Style End */


/* Use and privacy agreement - Page - Init */
.pf-c-page__main {
  z-index: 1 !important;
  overflow-y: hidden !important;
  justify-content: space-between;
}

.pf-c-page__main-section.pf-m-no-fill.use-and-privacy-agreement-footer {
  background-color: var(--violet-3-color) !important;
  height: 10%;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.pf-c-back-to-top.use-and-privacy-agreement-back-to-top {
  --pf-c-back-to-top--Bottom: 6.7rem;
}

.pf-c-page__main-section.use-and-privacy-agreement-header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 100%;
}

.pf-c-page__main-section.straight-aligned {
  display: inline-flex;
  justify-content: flex-end;
  flex-grow: 0;
}

.pf-c-page__main-section.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pf-c-card.auth-page-card {
  height: auto;
}

.overlapping-view {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  top: 0;

  .pf-c-hint.component {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    bottom: 0;

    .button {
      width: fit-content;
      margin-left: auto;
    }
  }
}

.unframed-page {
  .pf-c-page__main {
    height: 100% !important;
  }

  .configuration-wizard {
    padding: 0;
  }

  .use-and-privacy-agreement {
    padding: 0;
  }
}

.tools-background {
  background-image: linear-gradient(to top, transparent 25%, white 25%), url('assets/background/multicolorTriangles.svg') !important;
}

.util-background {
  background-image: linear-gradient(to top, transparent 24%, white 24%), url('assets/background/singlecolorHexagons.svg') !important;
}

.team-list-background {
  background-image: linear-gradient(to top, transparent 24%, white 24%), url('assets/background/multicolorHexagons.svg') !important;
}

@media (min-width: 200px) {
  .home-background {
    background-image: url('assets/background/lines.svg') !important;
  }
}

@media (min-width: 300px) {
  .framed-page {
    .pf-c-page__main {
      height: 100% !important;
    }
  }
}

@media (max-width: 350px) {
  .file-size {
    display: none;
  }
}

@media (max-width: 400px) {
  .pf-c-form.configuration-form {
    padding-bottom: 60px !important;
  }
}

@media (min-width: 768px) {
  .horizontal-menu {
    width: calc(100% - 306px);
  }
  .framed-page {
    .pf-c-page__main {
      margin: auto 10rem !important;
      height: 100% !important;
    }
  }
  .home-background {
    background-image: url('assets/background/lines.svg') !important;
  }
}

@media (min-width: 1024px) {
  .framed-page {
    .pf-c-page__main {
      margin: auto 15rem !important;
      height: 100% !important;
    }
  }
  .system-message-structure {
    width: 50% !important;
  }
}

@media (min-width: 1200px) {
  .framed-page {
    .pf-c-page__main {
      margin: auto 20rem !important;
      height: 100% !important;
    }
  }
}

@media (min-width: 1400px) {
  .framed-page {
    .pf-c-page__main {
      margin: auto 25rem !important;
      height: 100% !important;
    }
  }
}

.pf-c-nav.pf-m-horizontal.horizontal-menu {
  grid-area: nav-menu;
  width: 100%;
  background-color: #4D5280;
  height: 60px;
  z-index: 2;

  --pf-c-nav__link--BackgroundColor: #4D5280;
  --pf-c-nav--m-horizontal__link--hover--Color: #F5B349;
  --pf-c-nav--m-horizontal__link--active--Color: #F5B349;
  --pf-c-nav--m-horizontal__link--focus--Color: #F5B349;
  --pf-c-nav--m-horizontal__link--m-current--Color: #F5B349;

  .pf-c-nav__list {
    background-color: transparent;
    background-size: cover;
    justify-content: space-evenly;
    background-color: yellow;

    .pf-c-nav__item {
      background-color: #4D5280;
      width: 100%;
    }

    .pf-c-nav__link {
      --pf-c-nav__link--m-current--BackgroundColor: #4D5280;
      --pf-c-nav__link--m-current--after--BorderColor: #4D5280;
      --pf-c-nav__link--hover--BackgroundColor: #4D5280;
      --pf-c-nav__link--focus--BackgroundColor: #4D5280;
      --pf-c-nav__link--active--BackgroundColor: #4D5280;

      display: flex;
      flex-direction: column;
      padding: 10px 5px 0;

      .horizontal-menu-icon {
        width: 24px;
        height: 24px;
      }
      .horizontal-menu-text {
        margin-top: 2px;
        font-size: 10px;
        line-height: 18px;
      }

      .pf-c-nav__link::before {
        border-bottom-width: 0 !important;
      }

      .pf-c-nav__link:hover {
        background-color: yellow !important;
      }
    }
  }

  #tools-icon {
    position: fixed;
    bottom: 25px;
  }

  #tools-text {
    margin-top: auto;
    margin-bottom: 6px;
  }

  .pf-c-nav__scroll-button {
    width: 0;
    margin: 0;
  }
}

.media_entities_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.media_entities_title {
  margin: 25px 0 25px 0 !important;
  color: var(--violet-3-color);
}

.media_member {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
}

.media_entities_pagination {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
}
.media_entities_list {
    height: 70% !important;
    overflow: auto !important;
}

.add_media_member_button {
  --pf-c-button--m-plain--hover--Color: var(--violet-3-color) !important;
  --pf-c-button--m-plain--focus--Color: var(--violet-3-color) !important;
}

.media_entities_form {
  width: 100%;
  height: 100%;
}

.faq_accordion {
  --pf-c-accordion__toggle--m-expanded--before--BackgroundColor: var(--violet-3-color) !important;
  --pf-c-accordion__toggle--hover__toggle-text--Color: var(--violet-3-color) !important;
  --pf-c-accordion__toggle--active__toggle-text--Color: var(--violet-1-color) !important;
  --pf-c-accordion__toggle--focus__toggle-text--Color: var(--violet-1-color) !important;
  --pf-c-accordion__toggle--m-expanded__toggle-text--Color: var(--violet-1-color) !important;

  .content {
    --pf-c-accordion__expanded-content-body--before--BackgroundColor: var(--violet-3-color) !important;
  }
}

.pf-c-tabs__link::after {
  border-color: var(--violet-3-color) !important;
}

.horizontal-subnav-audio-editor {
  .pf-c-nav__scroll-button {
    display: none;
  }
  .pf-c-nav__item {
    border:none !important;
    background-color: none !important;
  } 
  .pf-c-nav__link svg {
    margin-right: 10px;
  }
  .pf-c-nav__link {
    --pf-c-nav__link--m-current--after--BorderColor: none !important;
    /* --pf-c-nav__link--m-current--BackgroundColor: none !important; */
    --pf-c-nav__link--hover--BackgroundColor: #302D4D !important;
    --pf-c-nav__link--focus--BackgroundColor: none !important;
    --pf-c-nav__link--active--BackgroundColor: none !important;
  }
  .pf-m-current::after{
    border: none;
  }
}


.pf-c-nav.vertical-menu {
    grid-area: nav-menu;
    position: fixed;
    background-color: #4D5280;
    padding-top: 85px;
    height: 100vh;
    width: 100px;
    right: 0;

    --pf-c-nav__link--Color: #d2d2d2;
    --pf-c-nav__link--BackgroundColor: #4D5280;
    --pf-c-nav__link--m-current--Color: #F5B349;
    --pf-c-nav__link--focus--Color: #F5B349;
    --pf-c-nav__link--hover--Color: #F5B349;
    --pf-c-nav__link--active--Color: #F5B349;

    .pf-c-nav__list {
      background-color: inherit;
      background-size: cover;
      justify-content: space-evenly;

      .pf-c-nav__item {
        background-color: #4D5280;
        width: 100%;
        padding: 0;
      }

      .pf-c-nav__link {
        --pf-c-nav__link--m-current--BackgroundColor: #4D5280;
        --pf-c-nav__link--m-current--after--BorderColor: #f29b1e;
        --pf-c-nav__link--hover--BackgroundColor: #4D5280;
        --pf-c-nav__link--focus--BackgroundColor: #4D5280;
        --pf-c-nav__link--active--BackgroundColor: #4D5280;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 5px;

        .horizontal-menu-icon {
          width: 24px;
          height: 24px;
        }
        .horizontal-menu-text {
          margin-top: 2px;
          font-size: 10px;
          line-height: 18px;
        }
      }

      .pf-c-nav__link::before {
        top: auto;
        bottom: 0;
        border-bottom-width: 0;
        right: var(--pf-c-nav--m-horizontal__link--Right);
        left: var(--pf-c-nav--m-horizontal__link--Left);
        border-color: #73bcf7;
      }
      .pf-c-nav__link:hover::before {
        border-bottom-width: 3px;
      }
    }
}

.pf-c-page__main-section  .use-and-privacy-agreement-header {
    display: inline-flex;
    justify-content: space-between;
}

.pf-c-page__header {
  grid-template-columns: max-content !important;
}

.light-header {
  background-color: var(--grey-3-color) !important;
  padding: 0 !important;

  .pf-c-breadcrumb {
    background: white;
    width: 100%;
    padding: 12px;
  }

  .title {
    color: var(--violet-3-color);
  }

  .pf-c-breadcrumb__link {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--violet-1-color);
  }
  .back-button {
    color: black !important;
  }
}

.pf-c-page {
  --pf-c-page--BackgroundColor: white;
  --pf-c-page__main-section--BackgroundColor: white !important;

  .pf-c-masthead {
    background-color: #201c34;
    padding-right: 0;

    .pf-c-masthead__content {
      justify-content: end;

      .pf-c-dropdown {
        position: fixed !important;
        margin-right: 20px;
        right: 0;
      }
    }

    .pf-m-display-inline.header {
      --pf-c-masthead--GridTemplateColumns: 1fr !important;
    }

    .back-button {
      color: white;
    }

    .title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left;
    }
  }

  .pf-c-page__header-nav {
      background-color: #201c34 !important;
      grid-column: 2/3;
      grid-row: 1/2;
    }

    .pf-c-nav__link {
        --pf-c-nav__link--m-current--BackgroundColor: #302D4D;
        --pf-c-nav__link--m-current--after--BorderColor: #f29b1e;
        --pf-c-nav__link--hover--BackgroundColor: #302D4D;
        --pf-c-nav__link--focus--BackgroundColor: #302D4D;
        --pf-c-nav__link--active--BackgroundColor: #302D4D;
    }

    .emergency-link {
      --pf-c-nav__link--m-current--BackgroundColor: #4D261E;
      --pf-c-nav__link--m-current--after--BorderColor: #DE8876;
      --pf-c-nav__link--hover--BackgroundColor: #4D261E;
      --pf-c-nav__link--focus--BackgroundColor: #4D261E;
      --pf-c-nav__link--active--BackgroundColor: #4D261E;
      color: #DE8876;
    }

    --pf-c-page__header--BackgroundColor: #201c34 !important;
    --pf-c-page__sidebar--BackgroundColor: #201c34 !important;
    --pf-c-page__sidebar--Width: 20rem !important;
    grid-template-columns: 1fr !important;
    grid-template-areas:"header" "main" "nav-menu" !important;
}

.pf-c-wizard.user-configuration-wizard {
  --pf-c-wizard__header--BackgroundColor: #302D4D;
  --pf-c-wizard__footer--BackgroundColor: #302D4D;
  --pf-c-wizard__nav-link--m-current--before--BackgroundColor: #6A74AD;
  --pf-c-wizard__nav-link--m-current--Color: #6A74AD;
  --pf-c-wizard__nav-link--before--BackgroundColor: #EAEAEA;
  .pf-c-wizard__main-body {
    height: 100%;
  }
}

#wizard-main-title{
  font-size: var(--pf-global--FontSize--md);
}

.pf-c-button.pf-m-primary.image-profile-charger {
  border-style: dashed;
  border-width: var(--pf-global--BorderWidth--sm);
  border-color: var(--pf-global--BorderColor--100);
  background-color: transparent;
  width: 200px;
}
.pf-c-button.pf-m-secondary.profile-image-upload-button {
  height: 40px;
  margin-left: 20px;
  --pf-c-button--m-secondary--Color: #6A74AD !important;
  --pf-c-button--m-secondary--after--BorderColor: #6A74AD;
  --pf-c-button--after--BorderColor:  #6A74AD;
  --pf-c-button--m-secondary--active--Color: #302d4d;
  --pf-c-button--m-secondary--active--after--BorderColor: #302d4d;
  --pf-c-button--m-secondary--focus--Color: #302d4d;
  --pf-c-button--m-secondary--focus--after--BorderColor: #302d4d;
  --pf-c-button--m-secondary--hover--Color: #302d4d;
  --pf-c-button--m-secondary--hover--after--BorderColor: #302d4d;
}

.pf-c-button.pf-m-primary.initial-setup-button {
  margin: auto;
  width: fit-content;
  --pf-c-button--m-primary--BackgroundColor: #6A74AD;
  --pf-c-button--m-primary--focus--BackgroundColor: #302d4d;
  --pf-c-button--m-primary--hover--BackgroundColor: #302d4d;
  --pf-c-button--m-primary--active--BackgroundColor: #302d4d;
}

.initial-setup-form {
  max-width: 450px;
}

.pf-c-form.configuration-form {
  height: calc(100% - 120px);
  width: 90%;
  --pf-c-form--GridGap: 0;
  min-width: 350px;
  margin: auto !important;
  overflow-y: scroll !important;
}

.avatar_profile {
  width: 100px;
  height: 100px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.invitation-content-structure {
  position: relative;
  height: 100%;
  .invitation-button-panel {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    z-index: 2;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 30px;

    .content {
      display: inherit;
      justify-content: space-around;
      background: transparent;
    }
  }

  .pf-c-menu.pf-m-plain.pf-m-scrollable.invitation-list-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 1;
    .pf-c-menu__content {
      height: 100%;
      max-height: fit-content;
    }
  }
}

.pf-c-card.pf-m-flat.invitation-structure {
  margin-bottom: 10px;
  --pf-c-card--m-flat--BorderColor: #BFBFBF;
  border-radius: 0.3rem;
}

.pf-c-button.invitation-button {
  --pf-c-button--m-primary--Color: white;
  --pf-c-button--m-primary--BackgroundColor: #6A74AD;
  --pf-c-button--m-primary--hover--BackgroundColor: #494e8a;
  --pf-c-button--m-primary--focus--BackgroundColor: #494e8a;
  --pf-c-button--m-primary--active--BackgroundColor: #494e8a;
  --pf-c-button--disabled--Color: #6a6e73;
  margin-top: 10px;
  margin-left: 10px;
  width: 180px;
  height: 60px;
}

.pf-c-button.pf-m-tertiary.invitation-button  {
  --pf-c-button--m-tertiary--BackgroundColor: white !important;
  --pf-c-button--m-tertiary--hover--BackgroundColor: white;
  --pf-c-button--m-tertiary--focus--BackgroundColor: white;
  --pf-c-button--disabled--Color: #6a6e73;
  width: 120px;
  height: 60px;
}

.pf-c-modal-box.view-invitation-data {
  position: fixed;
  bottom: 0;
  width: 100%;
  --pf-c-modal-box--MaxWidth: 100%;
}

.pf-c-button.pf-m-plain.button_invitation_data {
  --pf-c-button--m-plain--Color: #6A74AD !important;
  --pf-c-button--m-plain--hover--Color: #494e8a;
  --pf-c-button--m-plain--focus--Color: #494e8a;
}

.pf-c-hint__footer.hint_footer_invitation_data {
  display: flex;
  justify-content: space-between;
}

.pf-c-modal-box__body.post_send_invitation_modal_body {
  display: flex;
  flex-direction: column;
}


.pf-c-form__group.password-input .pf-c-form__group-label {
  display: flex;
  justify-content: space-between;
}

#auth_form > div.pf-c-form__group.password-input > div.pf-c-form__group-label > span > span,
#password_reset_confirm_form > div:nth-child(1) > div.pf-c-form__group-label > span > span,
#password_reset_confirm_form > div:nth-child(2) > div.pf-c-form__group-label > span > span {
  padding-right: 1rem;
  cursor: pointer;
}

#auth_form > div.pf-c-form__group.password-input > div.pf-c-form__group-label > span > span > svg,
#password_reset_confirm_form > div:nth-child(1) > div.pf-c-form__group-label > span > span > svg,
#password_reset_confirm_form > div:nth-child(2) > div.pf-c-form__group-label > span > span > svg {
  fill: #7D7D7D;
}

.pf-c-nav.sidebar-nav {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .pf-c-nav__item {
    width: 100% !important;
    padding: 0;
  }
}

.pf-c-page__sidebar {
  grid-area: sidebar;
}

.pf-c-page__sidebar-body {
  height: inherit;
}

.waveform {
  background-color: transparent;
}

.record-button-inactive-outer {
  filter: drop-shadow(10px 10px 25px #171421) drop-shadow(-8px -8px 15px #2D283A);
  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
}

.record-button-inactive-outer.disabled {
  fill: #ff0c00;
  filter: none;
}

.record-button-inactive-inner {
  padding: 0.25rem;
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;
  background-color: #879dda;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--states-active-pf-global-active-color-200, #879DDA);
  box-shadow: 10px 10px 15px 0 rgba(255, 255, 255, 0.20) inset;
  filter: drop-shadow(5px 5px 10px #1B124A);
}

.record-button-inactive-inner.disabled{
  background-color: #ff0c00;
}

button.audio-controls-record {
  border: 1px solid black;
  border-radius: 5rem;
  width: 4rem;
  height: 4rem;
}

button.audio-controls-group {
  border: none;
  border-radius: 0.25rem;
  width: 3rem;
  height: 3rem;
  background-color: transparent !important;
}

button.audio-controls-group-recorder {
  border-radius: 1.6rem;
  width: 7rem;
  height: 3rem;  
}

button.audio-controls-group-recorder-pause {
  display: flex;
  border-radius: 1.5rem;
  width: 3rem;
  height: 3rem;
  box-shadow: 10px 10px 15px 0 rgba(255, 255, 255, 0.20) inset, 5px 5px 10px 0 #1B124A;
  align-items: center;
  justify-content: center;
}

button.audio-controls-group-recorder-pause:active, button.audio-controls-group-recorder-stop:active,
button.audio-controls-group-recorder-pause:hover, button.audio-controls-group-recorder-stop:hover {
  background-color: transparent !important;
  border: 3px solid #879dda !important;  
}
button.audio-controls-group-recorder-pause:active svg, button.audio-controls-group-recorder-stop:active svg,
button.audio-controls-group-recorder-pause:hover svg, button.audio-controls-group-recorder-stop:hover svg {
  fill: #ff271d !important;
}

button.audio-controls-group-recorder-stop {
  display: flex;
  border-radius: 1.5rem;
  margin: 0.1rem;
  width: 7rem;
  height: 3rem;
  box-shadow: 10px 10px 15px 0 rgba(255, 255, 255, 0.20) inset, 5px 5px 10px 0 #1B124A;
  align-items: center;
  justify-content: center;
}

.audio-controls-group-recorder-stop-red {
  background-color: #ff0c00 !important;
}
.audio-controls-group-recorder-stop-disabled {
  background-color: #ff0c00 !important;
  opacity: 0.5;
}

.audio-controls-group-recorder-stop-wrapper {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  align-items: center;
  align-content: center;
  border-radius: 1.6rem;
  max-width: 7.6rem;
  height: 3.4rem;
  border: 2px solid #FF0C00;
  box-shadow: -10px -10px 20px 0 rgba(255, 255, 255, 0.20) inset, 10px 10px 15px 0 rgba(23, 20, 33, 0.25), -8px -8px 15px 0 rgba(45, 40, 58, 0.25), 5px 5px 10px 0 rgba(0, 0, 0, 0.25) inset;
}

.audio-controls-group-recorder-stop-wrapper-disabled {
  opacity: 0.5 !important;
}

.audio-controls-group-recorder-button-finished-wrapper {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  align-items: center;
  align-content: center;
  border-radius: 1.6rem;
  max-width: 7.6rem;
  height: 3.4rem;
  border: 2px solid #D4D4D4;
  background: #6A6E73;
  box-shadow: -10px -10px 20px 0 rgba(255, 255, 255, 0.20) inset, 10px 10px 15px 0 rgba(23, 20, 33, 0.25), -8px -8px 15px 0 rgba(45, 40, 58, 0.25), 5px 5px 10px 0 rgba(0, 0, 0, 0.25) inset;
}

button.audio-controls-group-recorder-button-finished {
  display: flex;
  border-radius: 1.5rem;
  margin: 0.1rem;
  width: 7rem;
  height: 3rem;
  box-shadow: 10px 10px 15px 0 rgba(255, 255, 255, 0.20) inset, 5px 5px 10px 0 #1B124A;
  background-color: #D4D4D4 !important;
  align-items: center;
  justify-content: center;
}

button.audio-controls-group-recorder-finished {
  background-color: transparent !important;
}

span.audio-controls-group-icon {
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  color: white;
}

div.pf-c-tooltip.record-button-tooltip .pf-c-tooltip__content {
  background-color: white;
  border-radius: 0.5rem;
}

div.pf-c-tooltip.record-button-tooltip .pf-c-tooltip__arrow {
  background-color: white;
  height: 1.25rem;
  width: 1.25rem;
}

/**
 * Audio controls track
 */

.controls {
  padding-right: 2px;
}

.playlist-time-scale {
  height: 2rem
}

.track-header {
  display: flex;
  justify-content: space-between;
}

.track-collapse {
  height: 22px;
  width: 22px;
}

.track-remove {
  height: 22px;
  width: 22px;
}

div.channel-wrapper div.controls div.btn-group {
  display: flex;
  margin: 0.5rem 0;
}

.btn-mute, .btn-solo {
  width: 100%;
}
/* Tour Wizard */
.pf-c-wizard.wizard-tour {
  --pf-c-wizard__footer--BoxShadow: nono;
  .pf-c-wizard__main-body {
    height: 100%;
    padding: 10px;
  }
  .pf-c-wizard__toggle {
    display: none;
  }
  .pf-c-wizard__nav {
    display: none;
  }
  .pf-c-wizard__outer-wrap {
    background-color: transparent;
    padding: 0 !important;
  }
  .wizard-step-title {
    color: #494e8a;
    padding-bottom: 30px;
    text-align: center;
  }
  .wizard-step-body {
    text-align: center;
    min-height: 50px;
  }
  @media (max-width: 500px) {
    .wizard-step-body {
      min-height: 144px;
    }
  }
  .pf-c-wizard__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .action_button {
      margin: 0;
      padding: 6px;
      color: var(--violet-1-color);
    }

    .pf-c-progress-stepper.pf-m-compact {
      display: flex !important;
      margin: 0;
    }

    .pf-c-progress-stepper {
      margin-right: 0 !important;
      --pf-c-progress-stepper--GridAutoFlow: row !important;
      --pf-c-progress-stepper--GridTemplateColumns: initial !important;
      --pf-c-progress-stepper__step-connector--before--Top: calc(1.125rem / 2) !important;
      --pf-c-progress-stepper__step-connector--before--Left: 0 !important;
      --pf-c-progress-stepper__step-connector--before--Width: 100% !important;
      --pf-c-progress-stepper__step-connector--before--Height: auto !important;
      --pf-c-progress-stepper__step-connector--before--BorderRightWidth: 0 !important;
      --pf-c-progress-stepper__step-connector--before--BorderRightColor: unset !important;
      --pf-c-progress-stepper__step-connector--before--BorderBottomWidth: 2px !important;
      --pf-c-progress-stepper__step-connector--before--BorderBottomColor: #d2d2d2 !important;
      --pf-c-progress-stepper__step-connector--before--Transform: translateY(-50%) !important;
      --pf-c-progress-stepper__step-main--MarginTop: 0 !important;
      --pf-c-progress-stepper__step-main--MarginRight: 0 !important;
      --pf-c-progress-stepper__step-main--MarginBottom: 0 !important;
      --pf-c-progress-stepper__step-main--MarginLeft: 0 !important;
      --pf-c-progress-stepper--m-compact--GridTemplateColumns: auto !important;
      --pf-c-progress-stepper--m-compact__step-connector--GridRow: 2 !important;
      --pf-c-progress-stepper--m-compact__step-connector--PaddingBottom: 0 !important;
      --pf-c-progress-stepper--m-center__step-connector--before--Content: "" !important;
      --pf-c-progress-stepper--m-center__step-main--before--Content: none !important;
      --pf-c-progress-stepper__step-icon--Width: 15px !important;
    }

    .pf-c-progress-stepper__step-connector {
      min-width: min-content !important;
      width: min-content !important;
      height: min-content !important;
    }

    .pf-c-progress-stepper__step-connector::before {
      content: none !important;
    }
  }
}

.welcome-modal {
  color: var(--violet-1-color);
  --pf-c-card--BoxShadow: 0px 0px 15px 5px lightgrey !important;
  --pf-c-card--m-rounded--BorderRadius: 9px !important;
}

.modal-wizard-tour {
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 30%, white 30%), url('assets/background/lines.svg') !important;
  --pf-c-modal-box--Width: 100% !important;
  --pf-c-modal-box--MaxWidth: 100% !important;
  --pf-c-modal-box--MaxHeight: 100% !important;
}

.welcome-wizard-upper-body {
  min-height: 300px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  .close_button {
    position: fixed;
    padding: 25px;
    right: 0;
    top: 0;
  }
}

.welcome-image {
  padding-bottom: 30px;
}

.welcome-modal-button {
  --pf-c-button--after--BorderColor: var(--violet-1-color) !important;
  color: var(--violet-1-color) !important;
  background-color: white !important;
}



.tool-item {
  height: 80px;
  width: 80px;
  --pf-c-card--BackgroundColor: var(--grey-3-color) !important;
  --pf-c-card--child--PaddingBottom: 0 !important;
  align-items: center;
}

.tool-name {
  color: var(--violet-3-color);
}

.tools-section {
  .list-item {
    padding: 0;
    margin: 0 25px 0 0;
  }
  .tools-title {
    margin-bottom: 10px;
  }
  .pf-c-button.pf-m-plain {
    padding: 0;
  }
}

/* Scrollbar */

html {
  scrollbar-color: #eaeaea transparent;
  scrollbar-width: thin !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: #444;
  border: 1px solid #444;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  border: 1px solid #9CA3AF;
  background: #9CA3AF;
}
::-webkit-scrollbar-thumb:active {
  border: 1px double #9CA3AF;
  background: #9CA3AF;
}
::-webkit-scrollbar-track {
  border-style: ridge;
  border-width: 1px;
  border-color: transparent;
  background: transparent;
}
::-webkit-scrollbar-track:hover {
  border-style: ridge;
  border-width: 1px;
  border-color: transparent;
  background: transparent;
}
::-webkit-scrollbar-track:active {
  border-style: ridge;
  border-width: 1px;
  border-color: transparent;
  background: transparent;;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.upload-file-list {
  list-style-type: none;
  white-space: nowrap;
  overflow-x: auto;
  padding: 0;

  .pf-c-multiple-file-upload__status-item-progress {
    .pf-c-multiple-file-upload__status-item-progress-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .pf-c-multiple-file-upload__status-item-progress-size {
      display: none;
    }
  }

  .pf-c-multiple-file-upload__status-item {
    border-bottom: transparent;
    .pf-c-multiple-file-upload__status-item-icon {
      display: none;
    }
  }
}

.pf-c-dropdown {
  margin-left: auto !important;
}

.file-message-body {
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  box-shadow: inset 0 -5px 3px 0 rgba(0, 0, 0, 0.08);

  .file-message-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .file-fullname {
      white-space: nowrap;
      display: inline-flex;
      width: 70%;
    }

    .file-name {
      overflow: hidden;
      white-space: nowrap;
      width: auto;
    }

    .file-extension {
      white-space: nowrap;
    }
  }
}

.recorder-actions-menu {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;  
  overflow: hidden;
  padding-right: 0.8rem;
}

.recorder-actions-menu button {
  width: 2.8rem;
  height: 35px;
}

.breadcrumb-tools {
  height: 30px;
  padding-bottom: 5px !important;
}
.breadcrumb-tools .pf-c-breadcrumb__item {
  color: #8F91A3 !important;
}
.breadcrumb-tools .pf-c-breadcrumb__item:nth-child(2) {
  color: white !important;
}

.pf-c-button__progress {
  color: black;
}

.teams-modal-selector ul.pf-c-select__menu {
  position: absolute;
  overflow-y: scroll;
  width: 100%
}

.pf-c-modal-box__title {
  font-size: 1.3rem !important;
}

.dropdown-group-buttons-export-audio .dropdown-item-title-with-icon {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: space-between;
}

.buttons-import-audio-from button{
  display: flex !important;
  justify-content: flex-start;
  flex: 1 !important;
  color: #0C0A21 !important;
  font-size: 1rem !important;
  padding-left: 0px;
  margin-top: 0.8rem;
}

.buttons-import-audio-from button svg{
  margin-right: 0.6rem;
}

.buttons-import-audio-from .pf-c-alert{
  border: none !important;
  box-shadow: none !important;
  padding-left: 0;
}

.buttons-import-audio-from button.inactive {
  opacity: 0.6;
}

.horizontal-navmenu-inactive {
  opacity: 0.7;
}

.export-landscape-button {
  float: right !important;
  display: flex;
  flex: 1;
}

.rouded-modal-md {
  border-radius: 0.375rem;
}

.project-item {
  transition: box-shadow 0.3s;
}

.project-item:hover {
  box-shadow: 0 4px 0px 0px #6A74AD !important;
}

.project-item:active {
  box-shadow: none !important;
}
